name: IBM Cloud Auto Restart


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 5 * * TUE'

jobs:
  ibm-cloud-restart:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Init
      run: |
        chmod -R 777 ./IBM_Cloud_CLI/
    - name: Login IBM Cloud
      env:
        IBM_ACCOUNT: ${{ secrets.IBM_ACCOUNT }}
        REGION_NUM: ${{ secrets.REGION_NUM }}
        IBM_ACCOUNT_EN: ${{ secrets.IBM_ACCOUNT_EN }}
        REGION_NUM_EN: ${{ secrets.REGION_NUM_EN }}
      run: |
        ./IBM_Cloud_CLI/ibmcloud login <<EOF
        $IBM_ACCOUNT
        $REGION_NUM
        no
        EOF
    - name: Target IBM Cloud
      env:
        RESOURSE_ID: ${{ secrets.RESOURSE_ID }}
      run: |
        ./IBM_Cloud_CLI/ibmcloud target -g "$RESOURSE_ID"
        ./IBM_Cloud_CLI/ibmcloud target --cf
        ./IBM_Cloud_CLI/ibmcloud cf install -v 6.51.0
    - name: Restart IBM Cloud
      env:
        IBM_APP_NAME: ${{ secrets.IBM_APP_NAME }}
      run: |
        ./IBM_Cloud_CLI/ibmcloud cf restart "$IBM_APP_NAME"


  ibm-cloud-restart-en:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Init
      run: |
        chmod -R 777 ./IBM_Cloud_CLI/
        
    - name: Login IBM Cloud EN
      env:
        IBM_ACCOUNT_EN: ${{ secrets.IBM_ACCOUNT_EN }}
        REGION_NUM_EN: ${{ secrets.REGION_NUM_EN }}
      run: |
        ./IBM_Cloud_CLI/ibmcloud login <<EOF
        $IBM_ACCOUNT_EN
        $REGION_NUM_EN
        no
        EOF
    - name: Target IBM Cloud EN
      env:
        RESOURSE_ID_EN: ${{ secrets.RESOURSE_ID_EN }}
      run: |
        ./IBM_Cloud_CLI/ibmcloud target -r eu-gb
        ./IBM_Cloud_CLI/ibmcloud target -g "$RESOURSE_ID_EN"
        ./IBM_Cloud_CLI/ibmcloud target --cf
        ./IBM_Cloud_CLI/ibmcloud cf install -v 6.51.0
    - name: Restart IBM Cloud EN
      env:
        IBM_APP_NAME_EN: ${{ secrets.IBM_APP_NAME_EN }}
      run: |
        ./IBM_Cloud_CLI/ibmcloud cf restart "$IBM_APP_NAME_EN"
